@model SpeakingClub.Models.TagCreateViewModel

@{
    ViewData["Title"] = "Create Tag";
}
<section class="container my-4">
<h2>Create Tag</h2>

<form asp-action="TagCreate" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Tag</button>
</form>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
