# Visual Studio
.vs/
*.user
*.suo

# ASP.NET
Resource/
Resource/SharedResource.de-DE.resx
Resource/SharedResource.tr-TR.resx
wwwroot/uploads/
wwwroot/blog/img/
wwwroot/blog/gif/
wwwroot/blog/pdf/
appsettings.Development.json
appsettings.Production.json
password.txt

# Environment secrets
.env

# Others
bin/
obj/
temp/

